.app-button {
  display: inline-block;

  padding: 1.2rem 2.4rem;

  background-color: transparent;
  border: none;
  border-radius: 5px;

  font: inherit;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);

  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;

  @media only screen and (max-width: 26em) {
    padding: 0.8rem 1.6rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
