.card-container {
  max-width: 72rem;
}

.title-container {
  margin-bottom: 2.4rem;

  @media only screen and (max-width: 26em) {
    margin-bottom: 1.6rem;
  }
}

.submit-button {
  margin: 2.4rem 0 1.2rem 0;

  @media only screen and (max-width: 26em) {
    margin: 1.6rem 0 0.8rem 0;
  }
}

.comment {
  height: 12rem;

  resize: none;
}
