<app-section-title>
  Создать заявку
</app-section-title>

<div class="card-container">
  <app-card>
    <div class="title-container">
      <app-card-title>
        Создание заявки
      </app-card-title>
    </div>

    <div class="form-container">
      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form__field-container">
          <label for="title" class="form__label">
            Заголовок
          </label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Заголовок заявки"
            class="form__field"
            formControlName="title"
          />
          <p class="form__feedback" *ngIf="errors.title">
            {{ errors.title }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="position" class="form__label">
            Должность
          </label>
          <input
            type="text"
            name="position"
            id="position"
            placeholder="Должность"
            class="form__field"
            formControlName="position"
          />
          <p class="form__feedback" *ngIf="errors.position">
            {{ errors.position }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="schedule" class="form__label">
            График
          </label>
          <select
            name="schedule"
            id="schedule"
            class="form__field"
            formControlName="schedule"
          >
            <option value="" selected disabled>График работы</option>
            <option *ngFor="let option of schedule" [value]="option">
              {{ option }}
            </option>
          </select>
          <p class="form__feedback" *ngIf="errors.schedule">
            {{ errors.schedule }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="rate" class="form__label">
            Ставка
          </label>
          <input
            type="number"
            name="rate"
            id="rate"
            placeholder="120"
            class="form__field"
            formControlName="rate"
          />
          <p class="form__feedback" *ngIf="errors.rate">
            {{ errors.rate }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="qty" class="form__label">
            Количество сотрудников
          </label>
          <input
            type="number"
            name="qty"
            id="qty"
            placeholder="1"
            class="form__field"
            formControlName="qty"
            disabled
          />
          <p class="form__feedback" *ngIf="errors.qty">
            {{ errors.qty }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="comment" class="form__label">
            Комментарий
          </label>
          <textarea
            name="comment"
            id="comment"
            class="form__field comment"
            formControlName="comment"
          ></textarea>
          <p class="form__annotation">
            Комментарии помогают сотрудникам находить для вас наилучших
            кандидатов
          </p>
          <p class="form__feedback" *ngIf="errors.comment">
            {{ errors.comment }}
          </p>
        </div>
        <button type="submit" class="form__submit-button submit-button">
          <span class="form__submit-button-text">
            Создать
          </span>
        </button>
      </form>
    </div>
  </app-card>
</div>
