.dropdown {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;

  &:hover {
    color: var(--color-purple);
  }
}

.dropdown-menu.show {
  display: block;
  margin-top: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;


  &:before, &:after {
    position: absolute;
    pointer-events: none;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    border-bottom-color: white;
   }

  &:before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db;
  }

  &:after {
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff;
  }
}

.dropdown-menu[x-placement^=bottom] {
  right: auto;
  bottom: auto;
}

.dropdown-item {
  display: inline-block;
  width: 100%;
  padding: 1.2rem 2.4rem;
  clear: both;
  color: rgba(0, 0, 0, 0.8);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
  font-size: 1.4rem;
  font-weight: 600;

  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.dropdown-item-icon {
  margin-right: 1.2rem;
  width: 1.4rem;
  height: 1.4rem;
  transition: fill 0.2s ease;
}

.dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.user-container {
  display: flex;
  align-items: center;

  cursor: pointer;

  margin-left: auto;
  margin-right: 4.8rem;

  text-decoration: none;
  color: inherit;

  transition: color 0.2s ease;

  &:hover {
    color: var(--color-purple);
  }

  @media only screen and (max-width: 48em) {
    display: none;
  }
}

.user-photo {
  width: 3.2rem;
  height: 3.2rem;

  margin-right: 1.6rem;

  border-radius: 10rem;
}

.user-name {
  font-size: 1.6rem;
  line-height: 2rem;
}
