<div ngbDropdown>
  <div class="user-container" ngbDropdownToggle>
    <img src="assets/img/icons/user.png" alt="User Photo" class="user-photo" />
    <p class="user-name">{{ userName }}</p>
  </div>
  <div ngbDropdownMenu>
    <button ngbDropdownItem
      routerLink="profile"
      routerLinkActive="nav-link-active"
    >
      Профиль
    </button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem (click)="handleLogoutButtonClick()">
      Выйти из учётной записи
    </button>
  </div>
</div>
