<div class="add-company">
  <app-card>
    <ng-container *ngIf="state === STATES.Warning">
      <div class="add-company__title">
        <app-card-title>
          Внимание!
        </app-card-title>
      </div>
      <div class="add-company__description">
        <app-card-description>
          Для того, чтобы начать создавать заявки вам необходимо закрепить вашу
          учетную запись за определённым объектом. Нажмите на кнопку
          "Продолжить", для перехода к форме.
        </app-card-description>
      </div>
      <div class="add-company__button">
        <app-card-button (clicked)="handleWarningButtonClick()">
          Продолжить
        </app-card-button>
      </div>
    </ng-container>

    <ng-container *ngIf="state === STATES.Form">
      <div class="add-company__title">
        <app-card-title>
          Создание объекта
        </app-card-title>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form__field-container">
          <label for="brand" class="form__label">Бренд</label>
          <input
            type="text"
            name="brand"
            id="brand"
            placeholder="SPAR"
            class="form__field"
            formControlName="brand"
          />
          <p class="form__feedback" *ngIf="errors.brand">
            {{ errors.brand }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="objectNumber" class="form__label">
            Номер объекта
          </label>
          <input
            type="number"
            name="objectNumber"
            id="objectNumber"
            placeholder="9387"
            class="form__field"
            formControlName="objectNumber"
          />
          <p class="form__feedback" *ngIf="errors.objectNumber">
            {{ errors.objectNumber }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="subway" class="form__label">
            Ближайшая станция метро
          </label>
          <input
            type="text"
            name="subway"
            id="subway"
            placeholder="Парк Победы"
            class="form__field"
            formControlName="subway"
          />
          <p class="form__feedback" *ngIf="errors.subway">
            {{ errors.subway }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="subway" class="form__label">
            Линия метро
          </label>
          <input
            type="number"
            name="subwayLine"
            id="subwayLine"
            placeholder="Парк Победы"
            class="form__field"
            formControlName="subwayLine"
          />
          <p class="form__feedback" *ngIf="errors.subwayLine">
            {{ errors.subwayLine }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="address" class="form__label">
            Адрес объекта
          </label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Пр. Большевиков, 42к1"
            class="form__field"
            formControlName="address"
          />
          <p class="form__feedback" *ngIf="errors.address">
            {{ errors.address }}
          </p>
        </div>
        <button
          type="submit"
          class="form__submit-button add-company__submit-button"
        >
          <span class="form__submit-button-text">Добавить</span>
        </button>
      </form>
    </ng-container>
  </app-card>
</div>
