.add-company {
  max-width: 72rem;

  &__title,
  &__description {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__submit-button {
    margin: 3rem 0 0.6rem 0;

    @media only screen and (max-width: 48em) {
      margin-top: 1.6rem;
    }
  }
}
