<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <app-section-title>
    Заявка от {{ request.createdAt | date: 'dd/MM/yyyy HH:mm' }}
  </app-section-title>

  <div class="request-info">
    <app-director-request-info [request]="request"></app-director-request-info>
  </div>

  <app-director-request-interviews
    *ngIf="request.status === 'processing'"
    [interviews]="interviews"
  ></app-director-request-interviews>
</ng-template>
