.people-table {
  width: 100%;

  border-collapse: collapse;

  &__header {
    padding-left: 3.2rem;
  }

  &__body {
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
  }

  &__row {
    display: flex;
  }

  &__body-row {
    background-color: #ffffff;

    cursor: pointer;
    transition: background-color 0.2s ease;

    &:not(:last-child) {
      border-bottom: 1px solid darken(#ffffff, 5%);
    }

    &:hover {
      background-color: darken(#ffffff, 1%);
      color: var(--color-purple-dark);
    }
  }

  &__cell {
    flex: 1;

    display: flex;
    align-items: center;

    padding: 1.6rem 1.2rem;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: left;

    transition: color 0.2s ease;

    &--full-name {
      flex: 3;

      padding-left: 3.2rem;
    }

    &--age {
      flex: 1;
    }

    &--nationality {
      flex: 2;
    }

    &--phone {
      flex: 2;
    }

    &--employed {
      flex: 1;
      justify-content: center;
    }
  }

  &__header-cell {
    font-weight: 700;
    color: darken(#ffffff, 60%);
  }

  &__icon {
    display: block;

    margin: 0 auto;

    width: 2.4rem;
    height: 2.4rem;

    &--employed {
      fill: var(--color-green);
    }

    &--not-employed {
      fill: var(--color-yellow);
    }
  }
}
