<table class="people-table">
  <thead class="people-table__header">
    <tr class="people-table__row people-table__header-row">
      <th
        class="people-table__cell people-table__header-cell people-table__cell--full-name"
      >
        ФИО
      </th>
      <th
        class="people-table__cell people-table__header-cell people-table__cell--age"
      >
        Возраст
      </th>
      <th
        class="people-table__cell people-table__header-cell people-table__cell--nationality"
      >
        Гражданство
      </th>
      <th
        class="people-table__cell people-table__header-cell people-table__cell--phone"
      >
        Телефон
      </th>
      <th
        class="people-table__cell people-table__header-cell people-table__cell--employed"
      >
        Трудоустроен?
      </th>
    </tr>
  </thead>
  <tbody class="people-table__body">
    <tr
      class="people-table__row people-table__body-row"
      *ngFor="let person of people"
      (click)="handleRowClick(person)"
    >
      <td
        class="people-table__cell people-table__body-cell people-table__cell--full-name"
      >
        {{ person.lastName }} {{ person.firstName }} {{ person.middleName }}
      </td>
      <td
        class="people-table__cell people-table__body-cell people-table__cell--age"
      >
        {{ person.age }}
      </td>
      <td
        class="people-table__cell people-table__body-cell people-table__cell--nationality"
      >
        {{ person.citizenship }}
      </td>
      <td
        class="people-table__cell people-table__body-cell people-table__cell--phone"
      >
        {{ person.phone }}
      </td>
      <td class="people-table__cell people-table__body-cell">
        <svg
          class="people-table__icon"
          [ngClass]="{
            'people-table__icon--employed': person.employed,
            'people-table__icon--not-employed': !person.employed
          }"
        >
          <use
            href="assets/img/icons/check.svg#check"
            *ngIf="person.employed"
          ></use>
          <use
            href="assets/img/icons/cross.svg#cross"
            *ngIf="!person.employed"
          ></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
