.loader {
  position: relative;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-main-background);

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.8rem;

    background-color: var(--color-purple);
    border-radius: 50%;
  }

  &__image {
    display: block;

    width: 4.8rem;
    height: 4.8rem;
  }
}
