<main class="main-container">
  <div class="form-container">
    <img src="assets/img/logo.svg" alt="Meetup Logo" class="logo" />

    <h2 class="title">Авторизация</h2>

    <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="form__field-container">
        <label for="email" class="form__label">
          Адрес электронной почты
        </label>
        <input
          type="email"
          id="email"
          placeholder="smirnov@mail.com"
          class="form__field"
          formControlName="email"
        />
        <p class="form__feedback" *ngIf="errors.email">
          {{ errors.email }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="password" class="form__label">
          Пароль
        </label>
        <input
          type="password"
          id="password"
          placeholder="••••••••"
          class="form__field"
          formControlName="password"
        />
        <p class="form__feedback" *ngIf="errors.password">
          {{ errors.password }}
        </p>
      </div>
      <div class="form-button-container">
        <button
          type="submit"
          class="form__submit-button"
          [disabled]="isLoading"
        >
          <span class="form__submit-button-text" *ngIf="!isLoading"
            >Авторизоваться</span
          >
          <img
            src="assets/img/icons/loader.svg"
            alt="Loading..."
            class="form__submit-button-loader"
            *ngIf="isLoading"
          />
        </button>
      </div>
    </form>
    <p class="info">
      Нет аккаунта?
      <a routerLink="/auth/register" class="link">Зарегистрироваться</a>
    </p>
  </div>
  <div class="overlay">
    <h1 class="overlay-title">
      Meetup
    </h1>
    <p class="overlay-text">
      Простой поиск сотрудников
    </p>
  </div>
</main>
