.form {
  &__field-container {
    display: flex;
    flex-flow: column nowrap;

    &:not(:last-of-type) {
      margin-bottom: 2.4rem;

      @media only screen and (max-width: 26em) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__label {
    margin-bottom: 0.8rem;
    padding: 0 2.4rem;

    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__field {
    display: block;
    width: 100%;

    padding: 1.2rem 2.4rem;

    border: 1px solid darken(#ffffff, 20%);
    border-radius: 0.5rem;

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: inherit;

    outline: none;
    transition: border-color 0.2s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      border-color: var(--color-purple);
    }
  }

  &__feedback {
    margin-top: 0.6rem;
    padding: 0 2.4rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-red-light);
  }

  &__annotation {
    margin-top: 0.6rem;
    padding: 0 2.4rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken(#ffffff, 40%);
  }

  &__submit-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 4.2rem;

    margin: 0 auto;

    border: none;
    border-radius: 0.5rem;
    background-color: lighten(#686de0, 12%);
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);

    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    backface-visibility: hidden;

    @media only screen and (max-width: 26em) {
      width: 18rem;
      height: 3.6rem;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:focus,
    &:active {
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
    }

    &-text {
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.8rem;
      color: #ffffff;
    }

    &-loader {
      display: inline-block;

      width: 2.4rem;
      height: 2.4rem;

      fill: #ffffff;

      @media only screen and (max-width: 26em) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
