html {
  font-size: 62.5%;

  cursor: default;
}

body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: var(--color-font-default);

  box-sizing: border-box;
}

::selection {
  background-color: var(--color-purple);
  color: #ffffff;
}

.divider {
  height: 2px;

  background-color: darken(#ffffff, 3%);
}
