:root {
  --color-font-default: #2c2e33;
  --color-main-background: #fafcfb;

  --color-purple: #a29bfe;
  --color-purple-dark: #746afe;
  --color-purple-light: #aaa5f3;
  --color-red-light: #fe676e;
  --color-pink: #fd79a8;
  --color-green: #2ecc71;
  --color-yellow: #f1c40f;

  --header-height: 9.2rem;
  --header-height-mobile: 7.2rem;
  --sidebar-width: 28rem;
}
