.interviews {
  &__title {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: darken(#ffffff, 60%);
  }
}

.interviews-list {
  margin-bottom: -1.6rem;

  list-style: none;

  &__item {
    padding: 1.6rem 0;

    &:not(:last-child) {
      border-bottom: 2px solid darken(#ffffff, 3%);
    }
  }
}

.interview {
  &__full-name {
    margin-bottom: 1rem;

    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;

    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
      color: var(--color-purple);
    }
  }

  &__result {
    margin-bottom: 1rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__date {
    margin-bottom: 1rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-purple);
  }
}
