<div class="interviews" *ngIf="interviews.length">
  <app-card>
    <h3 class="interviews__title">
      Собеседования
    </h3>

    <ul class="interviews__list interviews-list">
      <li class="interviews-list__item" *ngFor="let interview of interviews">
        <div class="interview">
          <h4
            class="interview__full-name"
            (click)="redirectToInterviewPage(interview.id)"
          >
            {{ interview.person.lastName }} {{ interview.person.firstName }}
            {{ interview.person.middleName }}
          </h4>

          <p class="interview__result" *ngIf="interview.result">
            Собеседование проведено
          </p>

          <p class="interview__date">
            Дата собеседования:
            {{ interview.date | date: 'dd/MM/yyyy HH:mm' }}
          </p>

          <div class="interview__btn">
            <app-card-button-sm
              (clicked)="
                redirectToInterviewPage(interview.id, interview.request.id)
              "
            >
              Подробнее
            </app-card-button-sm>
          </div>
        </div>
      </li>
    </ul>
  </app-card>
</div>
