<article class="request">
  <app-card [styles]="{ height: '100%' }">
    <h3 class="request__title">
      <a [routerLink]="[request.id]" class="request__title-link">
        Требуется {{ request.position }}</a
      >
    </h3>

    <p class="request__comment" *ngIf="request.comment">
      {{ request.comment }}
    </p>

    <ul class="request__labels-list labels-list">
      <li class="labels-list__item">
        Должность &mdash; {{ request.position }}
      </li>
      <li class="labels-list__item">График &mdash; {{ request.schedule }}</li>
      <li class="labels-list__item">Количество &mdash; {{ request.qty }}</li>
    </ul>

    <div class="divider request__divider">&nbsp;</div>

    <div class="request__controls">
      <div class="request__button">
        <app-card-button (clicked)="handleDetailsButtonClick()">
          Подробнее
        </app-card-button>
      </div>
    </div>
  </app-card>
</article>
