.request {
  height: 100%;

  &__title {
    margin-bottom: 2.4rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__title-link {
    text-decoration: none;
    color: inherit;

    transition: color 0.2s ease;

    &:hover {
      color: var(--color-purple-light);
    }
  }

  &__comment {
    margin-bottom: 2.4rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken(#ffffff, 50%);

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__labels-list {
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 0.8rem;
    }
  }

  &__divider {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__controls {
    display: flex;
    flex-flow: row wrap;
  }

  &__button {
    margin-right: 1rem;
  }
}

.labels-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    background-color: var(--color-purple-light);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: #ffffff;

    @media only screen and (max-width: 26em) {
      padding: 0.6rem 0.8rem;
    }
  }
}
