.back-btn {
  margin-bottom: 0.4rem;

  @media only screen and (max-width: 48em) {
    margin-bottom: 1.6rem;
  }
}

.form-container {
  max-width: 64rem;

  margin-top: 2.4rem;

  @media only screen and (max-width: 48em) {
    margin-top: 1.6rem;
  }
}

//-------  Datepicker css  ------

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.date-input {
  width: 50%;
  margin-right: 10%;
}

.time-input {
  width: 40%;
}

.datetime-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

//-------------------------------

.submit-btn {
  margin-top: 2.4rem;
  padding: 1.2rem 1.6rem;

  border: none;
  border-radius: 0.5rem;
  background-color: lighten(#686de0, 12%);
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);

  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  backface-visibility: hidden;

  @media only screen and (max-width: 48em) {
    margin-top: 1.6rem;
  }

  @media only screen and (max-width: 26em) {
    padding: 0.6rem 0.8rem;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:focus,
  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
  }
}
