<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template class="add-existent" #content>
  <app-card>
    <div class="back-btn">
      <app-card-button (click)="handleBackClick()">
        Вернуться
      </app-card-button>
    </div>

    <div class="divider">&nbsp;</div>

    <div class="form-container">
      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form__field-container">
          <label for="person" class="form__label">
            Соискатель
          </label>
          <select
            name="person"
            id="person"
            class="form__field"
            formControlName="personId"
          >
            <option value="" disabled selected>Выберите соискателя</option>
            <option *ngFor="let candidate of candidates" [value]="candidate.id">
              {{ candidate.lastName }} {{ candidate.firstName }}
              {{ candidate.middleName }}, {{ candidate.age }},
              {{ candidate.citizenship }}, {{ candidate.phone }}
            </option>
          </select>
          <p class="form__feedback" *ngIf="errors.personId">
            {{ errors.personId }}
          </p>
        </div>
        <div class="form__field-container">
            <div class="input-group">
              <label for="interviewDate" class="form__label">
                Дата собеседования
              </label>
              <div class="datetime-input">
                <div class="date-input">
                  <div
                    id="interviewDate"
                    class="form__field"
                    angular-mydatepicker
                    formControlName="interviewDate"
                    [options]="datePickerOptions"
                    #dp="angular-mydatepicker"
                    (click)="dp.toggleCalendar()"
                    (dateChanged)="onDateChanged($event)"
                    (inputFieldChanged)="onInputFieldChanged($event)"
                  ></div>
                </div>
                <div class="time-input">
                  <ngb-timepicker formControlName="interviewTime" [spinners]="false"></ngb-timepicker>
                </div>
              </div>
            </div>
          <p class="form__feedback" *ngIf="errors.date">
            {{ errors.date }}
          </p>
        </div>
        <button type="submit" class="submit-btn" [disabled]="btnDisabled">
          Назначить собеседование
        </button>
      </form>
    </div>
  </app-card>
</ng-template>
