<main class="main-container">
  <div class="form-container">
    <img src="assets/img/logo.svg" alt="Meetup Logo" class="logo" />

    <h2 class="title">Регистрация</h2>

    <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="form__field-container">
        <label for="firstName" class="form__label">
          Имя
        </label>
        <input
          type="text"
          id="firstName"
          placeholder="Дмитрий"
          class="form__field"
          formControlName="firstName"
        />
        <p class="form__feedback" *ngIf="errors.firstName">
          {{ errors.firstName }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="lastName" class="form__label">
          Фамилия
        </label>
        <input
          type="text"
          id="lastName"
          placeholder="Смирнов"
          class="form__field"
          formControlName="lastName"
        />
        <p class="form__feedback" *ngIf="errors.lastName">
          {{ errors.lastName }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="middleName" class="form__label">
          Отчество
        </label>
        <input
          type="text"
          id="middleName"
          placeholder="Александрович"
          class="form__field"
          formControlName="middleName"
        />
        <p class="form__feedback" *ngIf="errors.middleName">
          {{ errors.middleName }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="email" class="form__label">
          Адрес электронной почты
        </label>
        <input
          type="email"
          id="email"
          placeholder="smirnov@mail.com"
          class="form__field"
          formControlName="email"
        />
        <p class="form__feedback" *ngIf="errors.email">
          {{ errors.email }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="password" class="form__label">
          Пароль
        </label>
        <input
          type="password"
          id="password"
          placeholder="••••••••"
          class="form__field"
          formControlName="password"
        />
        <p class="form__feedback" *ngIf="errors.password">
          {{ errors.password }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="passwordConfirmation" class="form__label">
          Подтверждение пароля
        </label>
        <input
          type="password"
          id="passwordConfirmation"
          placeholder="••••••••"
          class="form__field"
          formControlName="passwordConfirmation"
        />
        <p class="form__feedback" *ngIf="errors.passwordConfirmation">
          {{ errors.passwordConfirmation }}
        </p>
      </div>
      <div class="form__field-container">
        <label for="role" class="form__label">
          Должность
        </label>
        <select id="role" class="form__field" formControlName="role">
          <option value="" selected disabled>Должность</option>
          <option *ngFor="let role of roles" [value]="role.value">
            {{ role.name }}
          </option>
        </select>
        <p class="form__feedback" *ngIf="errors.role">
          {{ errors.role }}
        </p>
      </div>
      <div class="form-button-container">
        <button
          type="submit"
          class="form__submit-button"
          [disabled]="isLoading"
        >
          <span class="form__submit-button-text" *ngIf="!isLoading"
            >Зарегистрироваться</span
          >
          <img
            src="assets/img/icons/loader.svg"
            alt="Loading..."
            class="form__submit-button-loader"
            *ngIf="isLoading"
          />
        </button>
      </div>
    </form>
    <p class="info">
      Уже есть аккаунт? <a routerLink="/auth/login" class="link">Войти</a>
    </p>
  </div>
  <div class="overlay">
    <h1 class="overlay-title">
      Meetup
    </h1>
    <p class="overlay-text">
      Простой поиск сотрудников
    </p>
  </div>
</main>
