.main-container {
  display: flex;

  width: 100vw;
  height: 100vh;
}

.form-container {
  flex: 0 0 32%;

  padding: 4.8rem 6.4rem;

  overflow: auto;

  @media only screen and (max-width: 100em) {
    flex: 0 0 40%;
  }

  @media only screen and (max-width: 75em) {
    flex: 1;
  }

  @media only screen and (max-width: 26em) {
    padding: 3.2rem 2.4rem;
  }
}

.logo {
  display: block;

  width: 20rem;

  margin: 0 auto;

  @media only screen and (max-width: 26em) {
    width: 16rem;
  }
}

.title {
  margin-top: 4rem;

  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;

  @media only screen and (max-width: 26em) {
    margin-top: 1.6rem;
  }
}

.form {
  margin-top: 3.2rem;

  @media only screen and (max-width: 75em) {
    max-width: 48rem;

    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 26em) {
    margin-top: 1.6rem;
  }

  &-button-container {
    margin-top: 3.2rem;

    text-align: center;

    @media only screen and (max-width: 26em) {
      margin-top: 1.6rem;
    }
  }
}

.info {
  margin-top: 1.6rem;

  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

.link {
  border-bottom: 2px solid var(--color-purple);

  text-decoration: none;
  color: var(--color-purple);

  transition: padding-bottom 0.2s ease;

  &:hover {
    padding-bottom: 2px;
  }
}

.overlay {
  flex: 1;

  padding: 4.8rem 6.4rem;

  background-image: linear-gradient(
    to right bottom,
    var(--color-purple),
    var(--color-purple-dark)
  );

  @media only screen and (max-width: 75em) {
    display: none;
  }

  &-title {
    font-size: 3.2rem;
    font-weight: 600;
    color: darken(#ffffff, 5%);

    &::after {
      content: '';

      display: block;

      width: 14rem;
      height: 0.3rem;

      margin-top: 1.2rem;
      margin-bottom: 1.2rem;

      background-color: darken(#ffffff, 5%);
    }
  }

  &-text {
    font-size: 2.4rem;
    color: darken(#ffffff, 7%);
  }
}
