.request {
  &__title {
    margin-bottom: 0.4rem;

    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  &__status,
  &__address {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__status {
    margin-bottom: 1.6rem;

    &--new {
      color: var(--color-green);
    }

    &--processing {
      color: var(--color-yellow);
    }
  }

  &__labels {
    margin-bottom: 0.4rem;
  }

  &__address {
    margin-bottom: 1.2rem;
  }

  &__comment {
    margin-bottom: 1.6rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken(#ffffff, 60%);
  }

  &__divider {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__btn-container {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: -1.2rem;
  }

  &__btn {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

.labels-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    background-color: var(--color-purple-light);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: #ffffff;

    @media only screen and (max-width: 26em) {
      padding: 0.6rem 0.8rem;
    }
  }
}
