<div class="request">
  <app-card>
    <h3 class="request__title">Требуется {{ request.position }}</h3>

    <p
      class="request__status"
      [ngClass]="{
        'request__status--new': request.status === 'new',
        'request__status--processing': request.status === 'processing'
      }"
    >
      Статус: {{ status }}
    </p>

    <ul class="request__labels labels-list">
      <li class="labels-list__item">Ставка &mdash; {{ request.rate }}</li>
      <li class="labels-list__item">Позиция &mdash; {{ request.position }}</li>
      <li class="labels-list__item">График &mdash; {{ request.schedule }}</li>
      <li class="labels-list__item">Количество &mdash; {{ request.qty }}</li>
    </ul>

    <p class="request__address">
      Адрес: {{ request.user.company.address }}, метро:
      {{ request.user.company.subway }}
    </p>

    <p class="request__comment">
      {{ request.comment }}
    </p>

    <div class="request__divider divider">&nbsp;</div>

    <div class="request__btn-container">
      <div class="request__btn">
        <app-card-button
          [disabled]="deleteBtnDisabled"
          (click)="handleDeleteClick()"
        >
          Удалить
        </app-card-button>
      </div>
    </div>
  </app-card>
</div>

<app-modal
  [shown]="modalShown"
  (confirm)="handleModalConfirm()"
  (close)="handleModalClose()"
></app-modal>
