.notification {
  max-width: 48rem;

  position: fixed;
  bottom: 2.4rem;
  right: 3.6rem;

  @media only screen and (max-width: 48em) {
    right: 2.4rem;
  }

  @media only screen and (max-width: 40em) {
    max-width: unset;
    left: 2.4rem;
  }

  @media only screen and (max-width: 26em) {
    bottom: 1.6rem;
    right: 1.6rem;
    left: 1.6rem;
  }

  &__message {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
