<div class="interview">
  <h4 class="interview__full-name">
    {{ interview.person.lastName }} {{ interview.person.firstName }}
    {{ interview.person.middleName }}
  </h4>

  <div class="interview__date">
    <span *ngIf="!changingDate">
      Собеседование: {{ interview.date | date: 'dd.MM.yyyy HH:mm' }}
    </span>
    <div class="interview__change-date" *ngIf="changingDate">
      <!--      <input-->
      <!--        type="datetime-local"-->
      <!--        name="newDate"-->
      <!--        id="newDate"-->
      <!--        class="form__field"-->
      <!--        [(ngModel)]="newInterviewDate"-->
      <!--      />-->
      <div class="form__field-container">
        <div class="input-group">
          <label for="interviewDate" class="form__label">
            Дата собеседования
          </label>
          <div class="datetime-input">
            <div class="date-input">
              <div
                id="interviewDate"
                class="form__field"
                angular-mydatepicker
                [(ngModel)]="newInterviewDate"
                [options]="datePickerOptions"
                #dp="angular-mydatepicker"
                (click)="dp.toggleCalendar()"
              ></div>
            </div>
            <div class="time-input">
              <ngb-timepicker
                [(ngModel)]="newInterviewTime"
                [spinners]="false"
              ></ngb-timepicker>
            </div>
          </div>
        </div>
        <!--        <p class="form__feedback" *ngIf="errors.date">-->
        <!--          {{ errors.date }}-->
        <!--        </p>-->
      </div>
    </div>
  </div>

  <p class="interview__result">Результат: {{ getResult() }}</p>

  <p class="interview__phone">Телефон: {{ interview.person.phone }}</p>

  <div class="interview__btn-container">
    <div class="interview__btn">
      <app-card-button-sm
        *ngIf="!interview.result"
        (clicked)="onCancelInterview()"
        >Отменить собеседование</app-card-button-sm
      >

      <app-card-button-sm
        *ngIf="interview.result === 'success'"
        (clicked)="handleAttachClick()"
      >
        Закрепить за должностью
      </app-card-button-sm>

      <app-card-button-sm
        *ngIf="interview.result === 'fail' && interview.active"
        (clicked)="handleDeleteInterviewClick()"
      >
        Закрыть собеседование
      </app-card-button-sm>
    </div>
    <div class="interview__btn" *ngIf="canChangeInterviewDate()">
      <app-card-button-sm *ngIf="!changingDate" (clicked)="onChangeDateClick()"
        >Изменить время</app-card-button-sm
      >
      <app-card-button-sm *ngIf="changingDate" (clicked)="onApproveNewDate()">
        Утвердить новое время
      </app-card-button-sm>
    </div>
  </div>
</div>
