.interview {
  &__full-name {
    margin-bottom: 1.2rem;

    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
  }

  &__result,
  &__date,
  &__phone {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__result {
    margin-bottom: 0.6rem;
  }

  &__date {
    margin-bottom: 0.6rem;

    color: var(--color-purple);
  }

  &__phone {
    margin-bottom: 1.2rem;
  }

  &__btn-container {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: -0.8rem;
  }

  &__btn {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
  }
}


//-------  Datepicker css  ------

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.date-input {
  width: 30%;
}

.time-input {
  width: 30%;
}

.datetime-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

//-------------------------------
