.interviews {
  &__title {
    margin-bottom: 1.6rem;

    font-size: 1.8rem;
    font-weight: 600;
    color: darken(#ffffff, 60%);
  }
}

.interviews-list {
  margin: -1.2rem 0;

  list-style: none;

  &__item {
    padding: 1.2rem 0;

    &:not(:last-child) {
      border-bottom: 2px solid darken(#ffffff, 3%);
    }
  }
}
