<div class="interviews">
  <app-card>
    <h3 class="interviews__title">
      Все собеседования
    </h3>

    <ul class="interviews__list interviews-list">
      <li *ngFor="let interview of interviews" class="interviews-list__item">
        <app-recruiter-interview
          [request]="request"
          [interview]="interview"
          (interviewDeleted)="onDeleteInterview($event)"
        ></app-recruiter-interview>
      </li>
    </ul>
  </app-card>
</div>
