.header {
  display: flex;

  position: relative;

  height: var(--header-height);
  flex-shrink: 0;

  background-color: #ffffff;

  @media only screen and (max-width: 48em) {
    padding: 0 3.2rem;
  }

  @media only screen and (max-width: 26em) {
    height: var(--header-height-mobile);

    padding: 0 2.4rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  width: var(--sidebar-width);

  @media only screen and (max-width: 48em) {
    width: 14rem;

    margin-left: auto;
  }
}

.logo {
  width: 14rem;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

.current-time {
  align-self: center;

  padding: 0.8rem 2.4rem;

  background-color: darken(#ffffff, 3%);
  border-radius: 10rem;

  font-size: 1.6rem;
  line-height: 2rem;

  transition: background-color 0.2s ease, color 0.2s ease;

  @media only screen and (max-width: 48em) {
    display: none;
  }

  &:hover {
    background-color: darken(#ffffff, 6%);
    color: var(--color-purple-dark);
  }
}

.user-container {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: 4.8rem;

  text-decoration: none;
  color: inherit;

  transition: color 0.2s ease;

  @media only screen and (max-width: 48em) {
    display: none;
  }
}

.user-photo {
  width: 3.2rem;
  height: 3.2rem;

  margin-right: 1.6rem;

  border-radius: 10rem;
}

.user-name {
  font-size: 1.6rem;
  line-height: 2rem;
}

.sidebar-toggle {
  align-self: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

  position: absolute;

  width: 2.8rem;
  height: 1.6rem;

  background-color: transparent;
  border: none;

  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  visibility: hidden;
  z-index: -1000;

  @media only screen and (max-width: 48em) {
    position: unset;
    visibility: visible;
    z-index: 0;
  }

  &:hover {
    opacity: 0.75;
  }

  &-bar {
    height: 0.2rem;

    background-color: var(--color-purple);

    &-middle {
      width: 75%;
    }

    &-bottom {
      width: 50%;
    }
  }
}
