<header class="header">
  <button class="sidebar-toggle" (click)="openSidebar()">
    <span class="sidebar-toggle-bar">&nbsp;</span>
    <span class="sidebar-toggle-bar sidebar-toggle-bar-middle">&nbsp;</span>
    <span class="sidebar-toggle-bar sidebar-toggle-bar-bottom">&nbsp;</span>
  </button>

  <div class="logo-container">
    <img src="assets/img/logo.svg" alt="Meetup Logo" class="logo" />
  </div>

  <time class="current-time">
    {{ currentTime | date: 'H:mm' }}
  </time>

<!--  <a [routerLink]="profileLink" class="user-container">-->
<!--    <img src="assets/img/icons/user.png" alt="User Photo" class="user-photo" />-->
<!--    <p class="user-name">{{ userName }}</p>-->
<!--  </a>-->

  <div class="user-container">
    <app-user-dropdown></app-user-dropdown>
  </div>


</header>
