<div class="interview">
  <app-card>
    <h4 class="interview__date">
      Дата собеседования:
      <span class="interview__date-value"
        >{{ interview.date | date: 'dd/MM/yyyy HH:mm' }}
      </span>
    </h4>

    <div class="interview__divider divider"></div>

    <ul class="interview__info-list info-list">
      <li class="info-list__item">
        <p class="info-list__label">
          ФИО
        </p>
        <p class="info-list__info">
          {{ interview.person.lastName }} {{ interview.person.firstName }}
          {{ interview.person.middleName }}
        </p>
      </li>
      <li class="info-list__item">
        <p class="info-list__label">
          Возраст
        </p>
        <p class="info-list__info">
          {{ interview.person.age }}
        </p>
      </li>
      <li class="info-list__item">
        <p class="info-list__label">
          Гражданство
        </p>
        <p class="info-list__info">
          {{ interview.person.citizenship }}
        </p>
      </li>
      <li class="info-list__item">
        <p class="info-list__label">
          Телефонный номер
        </p>
        <p class="info-list__info">
          {{ interview.person.phone }}
        </p>
      </li>
      <li class="info-list__item">
        <p class="info-list__label">
          Комментарий
        </p>
        <p class="info-list__info">
          {{ interview.person.comment }}
        </p>
      </li>
    </ul>
  </app-card>
</div>
