.interview {
  &__date {
    font-size: 1.6rem;
    line-height: 2rem;
    color: darken(#ffffff, 60%);
  }

  &__date-value {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-font-default);

    @media only screen and (max-width: 26em) {
      display: block;
    }
  }

  &__divider {
    margin-top: 1.6rem;
  }

  &__info-list {
    margin-top: 1.6rem;
  }
}

.info-list {
  list-style: none;

  &__item {
    display: flex;

    @media only screen and (max-width: 26em) {
      flex-flow: column nowrap;
    }

    &:not(:last-child) {
      margin-bottom: 0.6rem;

      @media only screen and (max-width: 26em) {
        margin-bottom: 1rem;
      }
    }
  }

  &__label {
    flex: 0 0 20rem;

    padding: 1.6rem 2.4rem;

    background-color: darken(#ffffff, 3%);
    border-radius: 0.8rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-purple);

    @media only screen and (max-width: 60em) {
      flex: 0 0 16rem;

      padding: 1.2rem;
    }

    @media only screen and (max-width: 26em) {
      flex: unset;
      align-self: flex-start;

      margin-bottom: 0.6rem;
      padding: unset;

      background-color: unset;
      border-radius: unset;
    }
  }

  &__info {
    flex: 1;

    display: flex;
    align-items: center;

    padding-left: 2.4rem;

    font-size: 1.4rem;
    line-height: 1.8rem;

    @media only screen and (max-width: 60em) {
      padding-left: 1.2rem;
    }
  }
}
