.card {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
}

.card--paddings {
  padding: 2.4rem 3.2rem;

  @media only screen and (max-width: 48em) {
    padding: 1.6rem 2.4rem;
  }

  @media only screen and (max-width: 26em) {
    padding: 1.6rem;
  }
}
