<app-section-title>
  База данных людей
</app-section-title>

<div class="controls">
  <app-button (clicked)="onAddPerson()">
    Добавить
  </app-button>
</div>

<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <app-card *ngIf="!people.length; else data">
    <h3 class="title">
      База данных на данный момент пуста
    </h3>
  </app-card>

  <ng-template #data>
    <app-checkbox
      label="Таблица"
      *ngIf="toggleShown"
      [value]="isTableView"
      (changed)="handleCheckboxChange($event)"
    >
    </app-checkbox>

    <app-recruiter-people-table
      *ngIf="isTableView; else list"
      [people]="people"
    >
    </app-recruiter-people-table>

    <ng-template #list>
      <app-recruiter-people-list [people]="people"></app-recruiter-people-list>
    </ng-template>
  </ng-template>
</ng-template>
