<app-section-title>
  Новые заявки
</app-section-title>

<app-local-loader *ngIf="isFetching"></app-local-loader>

<ng-container *ngIf="!isFetching">
  <ng-container *ngIf="!requests.length">
    <app-card>
      <app-card-description>
        В системе нет новых заявок
      </app-card-description>
    </app-card>
  </ng-container>

  <ng-container *ngIf="requests.length">
    <div class="filters">
      <app-card>
        <h4 class="filters__title">
          Фильтрация и сортировка
        </h4>

        <div class="row filters__row">
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label class="form__label filters__label" for="sort">
                Сортировка
              </label>
              <select
                name="sort"
                id="sort"
                class="form__field filters__label"
                [(ngModel)]="sortCriteria"
                (change)="onSortChange($event)"
              >
                <option value="" selected disabled>Критерий сортировки</option>
                <option value="timeAsc">По времени поступления (возр.)</option>
                <option value="timeDesc">По времени поступления (убыв.)</option>
                <option value="rateAsc">По ставке (возр.)</option>
                <option value="rateDesc">По ставке (убыв.)</option>
              </select>
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label for="position" class="form__label filters__label">
                Фильтр должности
              </label>
              <input
                type="text"
                name="position"
                id="position"
                class="form__field"
                placeholder="Должность"
                [(ngModel)]="positionFilter"
                (input)="onFilterFieldChange()"
              />
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label for="schedule" class="form__label filters__label">
                Фильтр графиков
              </label>
              <input
                type="text"
                name="schedule"
                id="schedule"
                placeholder="График"
                class="form__field"
                [(ngModel)]="scheduleFilter"
                (input)="onFilterFieldChange()"
              />
            </div>
          </div>
        </div>
        <div class="row filters__row">
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label for="subway" class="form__label filters__label">
                Фильтр станций метро
              </label>
              <input
                type="text"
                name="subway"
                id="subway"
                placeholder="Станция метро"
                class="form__field"
                [(ngModel)]="subwayFilter"
                (input)="filterRequestsByCompanyField('subway')"
              />
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label for="subwayLine" class="form__label filters__label">
                Фильтр линий метро
              </label>
              <input
                type="text"
                name="subwayLine"
                id="subwayLine"
                placeholder="Линия метро"
                class="form__field"
                [(ngModel)]="subwayLineFilter"
                (input)="filterRequestsByCompanyField('subwayLine')"
              />
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="filters__field-container">
              <label for="address" class="form__label filters__label">
                Фильтр адресов
              </label>
              <input
                type="text"
                name="address"
                id="address"
                placeholder="Адрес"
                class="form__field"
                [(ngModel)]="addressFilter"
                (input)="filterRequestsByCompanyField('address')"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <app-card-button (click)="onClearFiltersClick()"
            >Очистить фильтр</app-card-button
          >
        </div>
      </app-card>
    </div>

    <ng-container *ngIf="requestsToRender.length; else no_requests">
      <app-checkbox
        label="Таблица"
        *ngIf="toggleShown"
        [value]="isTableView"
        (changed)="handleCheckboxChange($event)"
      >
      </app-checkbox>

      <app-recruiter-requests-list
        *ngIf="!isTableView"
        [requests]="requestsToRender"
      ></app-recruiter-requests-list>

      <app-recruiter-requests-table
        *ngIf="isTableView"
        [requests]="requestsToRender"
      ></app-recruiter-requests-table>
    </ng-container>

    <ng-template #no_requests>
      <app-card>
        <p class="text">
          В системе нет заявок по данному критерию
        </p>
      </app-card>
    </ng-template>
  </ng-container>
</ng-container>
