<ng-container *ngIf="isFetching">
  <app-local-loader></app-local-loader>
</ng-container>

<ng-container *ngIf="!isFetching && request">
  <app-section-title>
    Заявка от {{ request.createdAt | date: 'dd/MM/yyyy HH:mm' }}
  </app-section-title>

  <app-recruiter-request-detail
    [request]="request"
  ></app-recruiter-request-detail>

  <div class="candidates-list">
    <app-recruiter-interviews-list
      *ngIf="interviews.length; else no_interviews"
      [request]="request"
      [interviews]="interviews"
    ></app-recruiter-interviews-list>
  </div>

  <ng-template #no_interviews>
    <app-card>
      <app-card-title>
        Нет собеседований
      </app-card-title>
    </app-card>
  </ng-template>
</ng-container>
