.card-button {
  display: inline-block;

  padding: 1.2rem 1.6rem;

  background-color: rgba(#000000, 0.03);
  border: none;
  border-radius: 0.6rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;

  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;

  @media only screen and (max-width: 26em) {
    padding: 0.6rem 0.8rem;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background-color: rgba(#000000, 0.06);
    color: var(--color-purple);
  }

  &:focus,
  &:active {
    background-color: rgba(#000000, 0.08);
    color: var(--color-purple-dark);
  }
}
