.interviews-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  list-style: none;

  &__item {
    flex: 0 0 49%;

    margin-bottom: 2rem;

    @media only screen and (max-width: 54rem) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }
}

.interview {
  height: 100%;

  &__title {
    margin-bottom: 0.4rem;

    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 600;

    cursor: pointer;
    transition: color 0.2s ease;

    @media only screen and (max-width: 26em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &:hover {
      color: var(--color-purple);
    }
  }

  &__date,
  &__position,
  &__phone,
  &__comment,
  &__result {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__date,
  &__position,
  &__phone,
  &__result {
    margin-bottom: 0.8rem;
  }

  &__date {
    color: darken(#ffffff, 40%);
  }

  &__divider {
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.2rem;
    }
  }
}

.highlight {
  color: var(--color-purple);
}

.text {
  font-size: 1.6rem;
  line-height: 2rem;
}
