<app-section-title>
  Все собеседования
</app-section-title>

<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <app-card *ngIf="!interviews.length">
    <p class="text">
      В данный момент у вас нет назначенных собеседований
    </p>
  </app-card>

  <ul class="interviews-list">
    <li class="interviews-list__item" *ngFor="let interview of interviews">
      <div class="interview">
        <app-card
          [styles]="{
            height: '100%'
          }"
        >
          <h3
            class="interview__title"
            (click)="onInterviewTitleClick(interview)"
          >
            {{ interview.person.lastName }} {{ interview.person.firstName }}
            {{ interview.person.middleName }}
          </h3>

          <p class="interview__date">
            {{ interview.date | date: 'dd/MM/yyyy HH:mm' }}
          </p>

          <p class="interview__position">
            Должность:
            <span class="highlight">{{ interview.request.position }}</span>
          </p>

          <p class="interview__phone">
            Телефон: <span class="highlight">{{ interview.person.phone }}</span>
          </p>

          <p class="interview__result" *ngIf="interview.result">
            Результат: {{ getInterviewResult(interview) }}
          </p>

          <ng-container *ngIf="interview.comment">
            <div class="interview__divider divider"></div>

            <p class="interview__comment">
              {{ interview.comment }}
            </p>
          </ng-container>
        </app-card>
      </div>
    </li>
  </ul>
</ng-template>
