.result {
  margin-top: 2.4rem;

  @media only screen and (max-width: 26em) {
    margin-top: 1.6rem;
  }

  &__title {
    margin-bottom: 1.6rem;

    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: darken(white, 60%);
  }

  &__form {
    max-width: 48rem;
  }

  &__result {
    margin-bottom: 1.2rem;

    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__comment {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.comment {
  height: 8rem;

  resize: none;
}

.submit-btn {
  margin-top: 1.6rem;
  padding: 1.2rem 2.4rem;

  border: none;
  border-radius: 0.5rem;
  background-color: lighten(#686de0, 12%);
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);

  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  backface-visibility: hidden;

  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: white;

  @media only screen and (max-width: 26em) {
    padding: 0.6rem 0.8rem;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:focus,
  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
  }
}
