<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <app-section-title>
    Просмотр собеседования
  </app-section-title>

  <app-director-interview [interview]="interview"></app-director-interview>

  <div class="result">
    <app-card *ngIf="!interview.result; else summary">
      <h3 class="result__title">
        Результат собеседования
      </h3>

      <div class="result__form">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form__field-container">
            <label for="result" class="form__label">
              Результат
            </label>
            <select
              name="result"
              id="result"
              class="form__field"
              formControlName="result"
            >
              <option value="" selected disabled>Выберите результат</option>
              <option value="success">Принят на работу</option>
              <option value="fail">Не принят на работу</option>
            </select>
            <p class="form__feedback" *ngIf="errors.result">
              {{ errors.result }}
            </p>
          </div>
          <div class="form__field-container">
            <label for="comment" class="form__label">
              Комментарий
            </label>
            <textarea
              name="comment"
              id="comment"
              class="form__field comment"
              formControlName="comment"
            ></textarea>
            <p class="form__annotation">
              Предоставьте дополнительную информацию рекрутерам для улучшения
              подбора персонала
            </p>
            <p class="form__feedback" *ngIf="errors.comment">
              {{ errors.comment }}
            </p>
          </div>
          <button type="submit" class="submit-btn">
            Сохранить
          </button>
        </form>
      </div>
    </app-card>

    <ng-template #summary>
      <app-card>
        <h3 class="result__title">
          Результат собеседования
        </h3>

        <p class="result__result">
          {{ interviewResult }}
        </p>

        <p class="result__comment">
          {{ interview.comment }}
        </p>
      </app-card>
    </ng-template>
  </div>
</ng-template>
