.text {
  font-size: 1.6rem;
  line-height: 2rem;
}

.filters {
  margin-bottom: 2.4rem;

  @media only screen and (max-width: 26em) {
    margin-bottom: 1.2rem;
  }

  &__title {
    margin-bottom: 1.2rem;

    font-size: 1.6rem;
  }

  &__field-container {
    padding: 0 0.8rem;
  }

  &__label {
    display: block;

    margin-bottom: 0.4rem;

    font-size: 1.4rem;
  }

  &__row {
    margin-bottom: 1.2rem;

    @media only screen and (max-width: 75em) {
      margin-bottom: 0;
    }
  }
}
