<div class="modal" *ngIf="shown">
  <div class="modal__overlay" (click)="closeModal()" @fadeInOut>
    &nbsp;
  </div>
  <div class="modal__container" @slideUpDown>
    <app-card>
      <app-card-title>
        Подтвердите действие
      </app-card-title>
      <div class="modal__divider divider">&nbsp;</div>
      <p class="modal__text">
        Вы действительно хотите совершить данную операцию?
      </p>
      <div class="modal__controls">
        <div class="modal__button">
          <app-card-button (clicked)="confirmAction()">
            Подтвердить
          </app-card-button>
        </div>
        <div class="modal__button">
          <app-card-button (clicked)="closeModal()">
            Отменить
          </app-card-button>
        </div>
      </div>
    </app-card>
  </div>
</div>
