.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000;

  &__overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);

    z-index: 2000;
  }

  &__container {
    position: absolute;
    bottom: -7rem;
    left: 50%;

    width: 64rem;

    transform: translate(-50%, -50%);
    z-index: 3000;

    @media only screen and (max-width: 48em) {
      width: 92%;
    }
  }

  &__divider {
    margin: 1.6rem 0;
  }

  &__text {
    margin-bottom: 1.6rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
  }

  &__controls {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: -1rem;

    @media only screen and (max-width: 26em) {
      margin-bottom: -0.8rem;
    }
  }

  &__button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
