.person {
  &__title {
    margin-bottom: 1.6rem;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    overflow-wrap: break-word;
  }

  &__employed {
    display: inline-block;

    margin-bottom: 1.6rem;
    padding: 0.8rem 1.6rem;

    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: #ffffff;

    @media only screen and (max-width: 26em) {
      padding: 0.6rem 0.8rem;
    }

    &--true {
      background-color: var(--color-green);
    }

    &--false {
      background-color: var(--color-red-light);
    }
  }

  &__divider {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }
}

.labels-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    background-color: var(--color-purple-light);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: #ffffff;

    @media only screen and (max-width: 26em) {
      padding: 0.6rem 0.8rem;
    }
  }
}
