<div class="person">
  <app-card>
    <h3 class="person__title">
      {{ person.lastName }} {{ person.firstName }} {{ person.middleName }}
    </h3>

    <ul class="person__labels-list labels-list">
      <li class="labels-list__item">Возраст &mdash; {{ person.age }}</li>
      <li class="labels-list__item">
        Гражданство &mdash; {{ person.citizenship }}
      </li>
      <li class="labels-list__item">Телефон &mdash; {{ person.phone }}</li>
    </ul>

    <p
      class="person__employed"
      [ngClass]="{
        'person__employed--true': person.employed,
        'person__employed--false': !person.employed
      }"
    >
      {{ person.employed ? 'Трудоустроен' : 'Не трудоустроен' }}
    </p>

    <div class="person__divider divider">&nbsp;</div>

    <div class="person__controls">
      <div class="person__button">
        <app-card-button (clicked)="handleDetailsButtonClick()"
          >Подробнее</app-card-button
        >
      </div>
    </div>
  </app-card>
</div>
