<div class="request">
  <app-card [styles]="{ height: '100%' }">
    <h3 class="request__title">
      {{ request.title }}
    </h3>

    <time [dateTime]="request.createdAt" class="request__created-at">
      {{ request.createdAt | date: 'dd/MM/yyyy HH:mm' }}
    </time>

    <p class="request__comment" *ngIf="request.comment">
      {{ request.comment }}
    </p>

    <ul class="request__labels-list labels-list">
      <li class="labels-list__item">График &mdash; {{ request.schedule }}</li>
      <li class="labels-list__item">Ставка &mdash; {{ request.rate }}/ч</li>
      <li class="labels-list__item">
        Бренд &mdash; {{ request.user.company.brand }}
      </li>
      <li class="labels-list__item">
        {{ request.user.company.address }}
      </li>
      <li class="labels-list__item">
        Метро &mdash; {{ request.user.company.subway }}
      </li>
    </ul>

    <div class="request__divider divider">&nbsp;</div>

    <div class="request__controls">
      <div class="request__button">
        <app-card-button (clicked)="handleDetailsButtonClick()">
          Подробнее
        </app-card-button>
      </div>
    </div>
  </app-card>
</div>
