<app-section-title>
  Добавление кандидата
</app-section-title>

<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <div class="choose" *ngIf="currentState === State.Choose">
    <app-card>
      <h3 class="choose__title">
        Какого кандидата вы хотите добавить?
      </h3>

      <div class="choose__buttons-container">
        <div class="choose__button">
          <app-card-button (clicked)="setCurrentState(State.AddNew)">
            Добавить нового кандидата
          </app-card-button>
        </div>
        <div class="choose__button">
          <app-card-button (clicked)="setCurrentState(State.AddExistent)">
            Выбрать из базы данных
          </app-card-button>
        </div>
      </div>
    </app-card>
  </div>

  <div class="add-person" *ngIf="currentState === State.AddNew">
    <app-recruiter-add-person
      [request]="request"
      (back)="setCurrentState(State.Choose)"
    ></app-recruiter-add-person>
  </div>

  <div class="add-existent" *ngIf="currentState === State.AddExistent">
    <app-recruiter-add-existent
      [request]="request"
      (back)="setCurrentState(State.Choose)"
    ></app-recruiter-add-existent>
  </div>
</ng-template>
