.choose {
  &__title {
    margin-bottom: 2.4rem;

    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }

  &__buttons-container {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: -1.2rem;
  }

  &__button {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
