<div class="error-page">
  <p class="error-page__error-code">
    {{ errorCode }}
  </p>
  <p class="error-page__error-message">
    {{ errorMessage }}
  </p>

  <div class="error-page__button">
    <app-card-button (clicked)="handleClick()">
      {{ buttonText }}
    </app-card-button>
  </div>
</div>
