.error-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 48rem;

  @media only screen and (max-width: 48em) {
    width: 100vw;

    padding: 0 7.2rem;
  }

  @media only screen and (max-width: 26em) {
    padding: 0 2.4rem;
  }

  &__error-code {
    font-size: 7.6rem;
    font-weight: 100;
  }

  &__error-message {
    margin-bottom: 2.4rem;

    font-size: 2.4rem;
    font-weight: 700;
  }
}
