<aside class="sidebar" [class.sidebar-shown]="sidebarShown">
  <button class="close-button" (click)="closeSidebar()">
    <img
      src="assets/img/icons/arrow_left.svg"
      alt="Close Sidebar"
      class="close-button-icon"
    />
  </button>

  <nav class="sidebar-nav">
<!--    <h3 class="sidebar-nav-title">-->
<!--      Заявки-->
<!--    </h3>-->

    <ul class="nav-list">
      <ng-container *ngIf="userRole === 'director'">
        <li class="nav-list-item">
          <a
            routerLink="new-request"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/plus.svg#plus"></use>
            </svg>
            <span class="nav-link-text">
              Создать заявку
            </span>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            routerLink="my-requests"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/list.svg#list"></use>
            </svg>
            <span class="nav-link-text">
              Мои заявки
            </span>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            routerLink="interviews"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/interview.svg#interview"></use>
            </svg>
            <span class="nav-link-text">
              Собеседования
            </span>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            routerLink="employees"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/employee.svg#employee"></use>
            </svg>
            <span class="nav-link-text">
              Cотрудники
            </span>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="userRole === 'recruiter'">
        <li class="nav-list-item">
          <a
            routerLink="new-requests"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/plus.svg#plus"></use>
            </svg>
            <span class="nav-link-text">
              Новые заявки
            </span>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            routerLink="all-requests"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/list.svg#list"></use>
            </svg>
            <span class="nav-link-text">
              Все заявки
            </span>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            routerLink="database"
            routerLinkActive="nav-link-active"
            class="nav-link"
            (click)="closeSidebar()"
          >
            <svg class="nav-link-icon">
              <use href="assets/img/icons/person.svg#person"></use>
            </svg>
            <span class="nav-link-text">
              Список людей
            </span>
          </a>
        </li>
      </ng-container>
    </ul>
  </nav>

<!--  <ng-container *ngIf="userRole === 'director'">-->
<!--    <nav class="sidebar-nav">-->
<!--      <h3 class="sidebar-nav-title">-->
<!--        Сотрудники-->
<!--      </h3>-->

<!--      <ul class="nav-list">-->
<!--        <li class="nav-list-item">-->
<!--          <a-->
<!--            routerLink="employees"-->
<!--            routerLinkActive="nav-link-active"-->
<!--            class="nav-link"-->
<!--            (click)="closeSidebar()"-->
<!--          >-->
<!--            <svg class="nav-link-icon">-->
<!--              <use href="assets/img/icons/employee.svg#employee"></use>-->
<!--            </svg>-->
<!--            <span class="nav-link-text">-->
<!--              Мои сотрудники-->
<!--            </span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </ng-container>-->

<!--  <nav class="sidebar-nav">-->
<!--    <h3 class="sidebar-nav-title">-->
<!--      Настройки-->
<!--    </h3>-->

<!--    <ul class="nav-list">-->
<!--      <li class="nav-list-item">-->
<!--        <a-->
<!--          routerLink="profile"-->
<!--          routerLinkActive="nav-link-active"-->
<!--          class="nav-link"-->
<!--          (click)="closeSidebar()"-->
<!--        >-->
<!--          <svg class="nav-link-icon">-->
<!--            <use href="assets/img/icons/user.svg#user"></use>-->
<!--          </svg>-->
<!--          <span class="nav-link-text">Профиль</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->

  <button
    class="count-button"
    *ngIf="userRole === 'director'; else recruiterButton"
    (click)="handleInterviewsClick()"
  >
    <span class="count-button__count">{{ count }}</span>
    <span class="count-button__text">Собеседований</span>
  </button>

  <ng-template #recruiterButton>
    <button class="count-button" (click)="handleRequestsClick()">
      <span class="count-button__count">{{ count }}</span>
      <span class="count-button__text">Новых заявок</span>
    </button>
  </ng-template>
</aside>
