.sidebar {
  display: flex;
  flex-flow: column nowrap;

  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 10;

  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));

  padding: 6rem 4rem;

  background-color: #ffffff;

  overflow: auto;

  @media only screen and (max-width: 48em) {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: -105%;

    transition: transform 0.4s ease;

    &-shown {
      transform: translateX(105%);
      z-index: 1000;
    }
  }

  @media only screen and (max-width: 26em) {
    padding: 6rem 3.2rem;
  }
}

.close-button {
  position: absolute;
  top: 2.4rem;
  right: 4rem;

  width: 2.4rem;

  border: none;
  background-color: transparent;

  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;
  visibility: hidden;

  @media only screen and (max-width: 48em) {
    visibility: visible;
  }

  @media only screen and (max-width: 26em) {
    right: 3.2rem;
  }

  &:hover {
    opacity: 0.75;
  }

  &-icon {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.sidebar-nav {
  margin-bottom: 4.8rem;

  &-title {
    margin-left: 2.4rem;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
  }
}

.nav-list {
  list-style: none;

  &-item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;

  padding: 1.2rem 2.4rem;

  border-radius: 10rem;

  text-decoration: none;
  color: inherit;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken(#ffffff, 6%);

    color: var(--color-purple-dark);
    fill: var(--color-purple-dark);
  }

  &-active {
    background-color: darken(#ffffff, 3%);

    color: var(--color-purple-dark);
    fill: var(--color-purple-dark);
  }

  &-icon {
    margin-right: 1.2rem;

    width: 1.4rem;
    height: 1.4rem;

    transition: fill 0.2s ease;
  }

  &-text {
    font-size: 1.6rem;
    line-height: 2rem;

    transition: color 0.2s ease;
  }
}

.count-button {
  align-self: center;

  margin-top: auto;
  padding: 1.4rem 2.4rem;

  border: none;
  background-color: lighten(#686de0, 12%);
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;

  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
  }

  &__count {
    margin-right: 0.6rem;
    padding: 0.4rem 0.8rem;

    background-color: #ffffff;
    border-radius: 5px;

    color: darken(#ffffff, 60%);
  }

  &__text {
    color: #ffffff;
  }
}
