<div class="add-person">
  <app-card>
    <div class="back-btn">
      <app-card-button (clicked)="handleBackClick()">
        Вернуться
      </app-card-button>
    </div>

    <div class="divider">&nbsp;</div>

    <div class="form-container">
      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form__field-container">
          <label for="lastName" class="form__label">
            Фамилия
          </label>
          <input
            type="text"
            name="lastName"
            id="lastName"
            placeholder="Смирнов"
            class="form__field"
            formControlName="lastName"
          />
          <p class="form__feedback" *ngIf="errors.lastName">
            {{ errors.lastName }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="firstName" class="form__label">
            Имя
          </label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            placeholder="Анатолий"
            class="form__field"
            formControlName="firstName"
          />
          <p class="form__feedback" *ngIf="errors.firstName">
            {{ errors.firstName }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="middleName" class="form__label">
            Отчество
          </label>
          <input
            type="text"
            name="middleName"
            id="middleName"
            placeholder="Витальевич"
            class="form__field"
            formControlName="middleName"
          />
          <p class="form__feedback" *ngIf="errors.middleName">
            {{ errors.middleName }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="age" class="form__label">
            Возраст
          </label>
          <input
            type="number"
            name="age"
            id="age"
            placeholder="24"
            class="form__field"
            formControlName="age"
          />
          <p class="form__feedback" *ngIf="errors.age">
            {{ errors.age }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="nationality" class="form__label">
            Гражданство
          </label>
          <input
            type="text"
            name="citizenship"
            id="citizenship"
            placeholder="Россия"
            class="form__field"
            formControlName="citizenship"
          />
          <p class="form__feedback" *ngIf="errors.citizenship">
            {{ errors.citizenship }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="phone" class="form__label">
            Телефон
          </label>
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="+79112345678"
            class="form__field"
            formControlName="phone"
          />
          <p class="form__feedback" *ngIf="errors.phone">
            {{ errors.phone }}
          </p>
        </div>
        <div class="form__field-container">
          <label for="comment" class="form__label">
            Комментарий
          </label>
          <textarea
            name="comment"
            id="comment"
            class="form__field comment"
            formControlName="comment"
          ></textarea>
          <p class="form__feedback" *ngIf="errors.comment">
            {{ errors.comment }}
          </p>
          <p class="form__annotation">
            Комментарий должен содержать информацию о данном соискателе
          </p>
        </div>
        <div class="form__field-container">
          <label for="resource" class="form__label">
            Информационный ресурс
          </label>
          <input
            type="text"
            name="resource"
            id="resource"
            placeholder="Superjob, Avito..."
            class="form__field"
            formControlName="resource"
          />
          <p class="form__feedback" *ngIf="errors.resource">
            {{ errors.resource }}
          </p>
        </div>
        <div class="form__field-container">
          <div class="input-group">
            <label for="interviewDate" class="form__label">
              Дата собеседования
            </label>
            <div class="datetime-input">
              <div class="date-input">
                <div
                  id="interviewDate"
                  class="form__field"
                  angular-mydatepicker
                  formControlName="interviewDate"
                  [options]="datePickerOptions"
                  #dp="angular-mydatepicker"
                  (click)="dp.toggleCalendar()"
                ></div>
              </div>
              <div class="time-input">
                <ngb-timepicker
                  formControlName="interviewTime"
                  [spinners]="false"
                ></ngb-timepicker>
              </div>
            </div>
          </div>
          <p class="form__feedback" *ngIf="errors.date">
            {{ errors.date }}
          </p>
        </div>
        <button type="submit" class="submit-btn" [disabled]="btnDisabled">
          Назначить собеседование
        </button>
      </form>
    </div>
  </app-card>
</div>
