<ng-container *ngIf="isFetching">
  <app-local-loader></app-local-loader>
</ng-container>

<ng-container *ngIf="!isFetching && request">
  <app-section-title>
    Новая заявка от {{ request.createdAt | date: 'dd/MM/yyyy' }}
  </app-section-title>

  <article class="request">
    <app-card>
      <h3 class="request__title">
        {{ request.title }}
      </h3>

      <time [dateTime]="request.createdAt" class="request__created-at">
        {{ request.createdAt | date: 'dd/MM/yyyy HH:mm' }}
      </time>

      <p class="request__comment" *ngIf="request.comment">
        {{ request.comment }}
      </p>

      <ul class="request__labels-list labels-list">
        <li class="labels-list__item">График &mdash; {{ request.schedule }}</li>
        <li class="labels-list__item">Ставка &mdash; {{ request.rate }}/ч</li>
        <li class="labels-list__item">
          Бренд &mdash; {{ request.user.company.brand }}
        </li>
        <li class="labels-list__item">
          {{ request.user.company.address }}
        </li>
        <li class="labels-list__item">
          Метро &mdash; {{ request.user.company.subway }}
        </li>
      </ul>

      <div class="request__divider divider">&nbsp;</div>

      <div class="request__controls">
        <div class="request__button">
          <app-card-button (clicked)="handleToggleButtonClick()">
            В общий список
          </app-card-button>
        </div>
      </div>
    </app-card>
  </article>

  <div class="client">
    <app-card>
      <app-card-title [styles]="{ color: '#757575', fontSize: '1.8rem' }">
        Заказчик
      </app-card-title>
      <p class="client__name">
        {{ request.user.lastName }}&nbsp;{{ request.user.firstName }}&nbsp;{{
          request.user.middleName
        }}&nbsp;({{ request.user.company.brand }})
      </p>
    </app-card>
  </div>
</ng-container>

<app-modal
  [shown]="modalShown"
  (confirm)="handleModalConfirm()"
  (close)="handleModalClose()"
></app-modal>
