<ul class="requests-list" *ngIf="requests">
  <li class="requests-list__item" *ngFor="let request of requests">
    <app-recruiter-requests-item
      [request]="request"
    ></app-recruiter-requests-item>
  </li>
</ul>
