.requests-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-top: 2.4rem;

  list-style: none;

  @media only screen and (max-width: 26em) {
    margin-top: 2rem;
  }

  &__item {
    flex: 0 0 49%;

    margin-bottom: 2rem;

    @media only screen and (max-width: 60em) {
      flex: 0 0 100%;
    }
  }
}
