.app {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;

  background-color: #ffffff;
}

.main-content {
  min-height: calc(100vh - var(--header-height));

  margin-left: var(--sidebar-width);
  padding: 3.2rem 4.8rem;

  background-color: var(--color-main-background);
  border-top-left-radius: 2rem;

  overflow: auto;

  @media only screen and (max-width: 48em) {
    margin-left: 0;
    padding: 2.4rem 3.2rem;

    border-top-left-radius: 0;
  }

  @media only screen and (max-width: 26em) {
    min-height: calc(100vh - var(--header-height-mobile));

    padding: 1.6rem;
  }
}
