<app-section-title>
  Добавление в БД
</app-section-title>

<app-card>
  <form class="create-person" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="create-person__field-container">
      <label for="lastName" class="form__label create-person__label">
        Фамилия
      </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Фамилия"
        class="form__field"
        formControlName="lastName"
      />
      <p class="form__feedback" *ngIf="errors.lastName">
        {{ errors.lastName }}
      </p>
    </div>
    <div class="create-person__field-container">
      <label for="firstName" class="form__label create-person__label">
        Имя
      </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        placeholder="Имя"
        class="form__field"
        formControlName="firstName"
      />
      <p class="form__feedback" *ngIf="errors.firstName">
        {{ errors.firstName }}
      </p>
    </div>
    <div class="create-person__field-container">
      <label for="middleName" class="form__label create-person__label">
        Отчество
      </label>
      <input
        type="text"
        name="middleName"
        id="middleName"
        placeholder="Отчество"
        class="form__field"
        formControlName="middleName"
      />
      <p class="form__feedback" *ngIf="errors.middleName">
        {{ errors.middleName }}
      </p>
    </div>
    <div class="create-person__field-container">
      <label for="age" class="form__label create-person__label">
        Возраст
      </label>
      <input
        type="text"
        name="age"
        id="age"
        placeholder="Возраст"
        class="form__field"
        formControlName="age"
      />
      <p class="form__feedback" *ngIf="errors.age">
        {{ errors.age }}
      </p>
    </div>

    <div class="create-person__field-container">
      <label for="citizenship" class="form__label create-person__label">
        Гражданство
      </label>
      <input
        type="text"
        name="citizenship"
        id="citizenship"
        placeholder="Гражданство"
        class="form__field"
        formControlName="citizenship"
      />
      <p class="form__feedback" *ngIf="errors.citizenship">
        {{ errors.citizenship }}
      </p>
    </div>
    <div class="create-person__field-container">
      <label for="phone" class="form__label create-person__label">
        Телефонный номер
      </label>
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Телефонный номер"
        class="form__field"
        formControlName="phone"
      />
      <p class="form__feedback" *ngIf="errors.phone">
        {{ errors.phone }}
      </p>
    </div>
    <div class="create-person__field-container">
      <label for="comment" class="form__label create-person__label">
        Комментарий
      </label>
      <textarea
        name="comment"
        id="comment"
        class="form__field create-person__textarea"
        formControlName="comment"
      ></textarea>
      <p class="form__feedback" *ngIf="errors.comment">
        {{ errors.comment }}
      </p>
    </div>
    <app-button type="submit">Добавить</app-button>
  </form>
</app-card>
