.create-person {
  max-width: 64rem;

  &__field-container {
    margin-bottom: 1.6rem;
  }

  &__label {
    display: block;

    margin-bottom: 0.4rem;

    font-size: 1.4rem;
  }

  &__textarea {
    height: 8rem;

    resize: none;
  }
}
