<app-card>
  <ul class="info-list">
    <li class="info-list__item">
      <div class="info">
        <div class="info__icon-container">
          <svg class="info__icon">
            <use href="assets/img/icons/user.svg#user"></use>
          </svg>
        </div>
        <p class="info__text">
          {{ fullName }}
        </p>
      </div>
    </li>
    <li class="info-list__item">
      <div class="info">
        <div class="info__icon-container">
          <svg class="info__icon">
            <use href="assets/img/icons/email.svg#email"></use>
          </svg>
        </div>
        <p class="info__text">
          {{ email }}
        </p>
      </div>
    </li>
  </ul>
</app-card>
