.info-list {
  margin: -2.4rem 0;

  list-style: none;

  @media only screen and (max-width: 48em) {
    margin: -1.6rem 0;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid darken(#ffffff, 6%);
    }
  }
}

.info {
  display: flex;

  &__icon-container {
    margin-right: 2.4rem;
    padding: 2.4rem;

    @media only screen and (max-width: 26em) {
      margin-right: 1.2rem;
      padding: 2rem 2.4rem;
    }
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;

    fill: var(--color-purple);

    @media only screen and (max-width: 26em) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    font-size: 1.6rem;
    line-height: 2rem;
  }
}
