<app-section-title>
  Профиль
</app-section-title>

<app-profile
  *ngIf="user"
  [userName]="userNameObj"
  [email]="user.email"
></app-profile>

<div class="controls">
  <app-card-button (clicked)="handleLogoutButtonClick()">
    Выйти из учётной записи
  </app-card-button>
</div>
