.requests-table {
  width: 100%;

  border-collapse: collapse;

  &__header {
    padding-left: 3.2rem;
  }

  &__body {
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
  }

  &__row {
    display: flex;
  }

  &__body-row {
    background-color: #ffffff;

    cursor: pointer;
    transition: background-color 0.2s ease;

    &:not(:last-child) {
      border-bottom: 1px solid darken(#ffffff, 5%);
    }

    &:hover {
      background-color: darken(#ffffff, 1%);
      color: var(--color-purple-dark);
    }
  }

  &__cell {
    flex: 1;

    display: flex;
    align-items: center;

    padding: 1.6rem 1.2rem;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: left;

    transition: color 0.2s ease;

    &--time {
      flex: 2;

      padding-left: 3.2rem;
    }

    &--position {
      flex: 3;
    }

    &--schedule {
      flex: 1;
    }

    &--rate {
      flex: 1;
    }

    &--qty {
      flex: 1;
    }

    &--brand {
      flex: 2;
    }

    &--address {
      flex: 3;
    }

    &--station {
      flex: 3;
    }
  }

  &__header-cell {
    font-weight: 700;
    color: darken(#ffffff, 60%);
  }
}
