<table class="requests-table">
  <thead class="requests-table__header">
  <tr class="requests-table__row requests-table__header-row">
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--time"
    >
      Время поступления
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--position"
    >
      Должность
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--schedule"
    >
      График
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--rate"
    >
      Ставка
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--qty"
    >
      Кол-во
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--brand"
    >
      Бренд
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--address"
    >
      Адрес объекта
    </th>
    <th
      class="requests-table__cell requests-table__header-cell requests-table__cell--station"
    >
      Станция метро
    </th>
  </tr>
  </thead>
  <tbody class="requests-table__body">
  <tr
    class="requests-table__row requests-table__body-row"
    *ngFor="let request of requests"
    (click)="handleRowClick(request)"
  >
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--time"
    >
      {{ request.createdAt | date: 'dd.MM.yyyy HH:mm' }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--position"
    >
      {{ request.position }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--schedule"
    >
      {{ request.schedule }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--rate"
    >
      {{ request.rate }}/ч
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--qty"
    >
      {{ request.qty }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--brand"
    >
      {{ request.user.company.brand }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--address"
    >
      {{ request.user.company.address }}
    </td>
    <td
      class="requests-table__cell requests-table__body-cell requests-table__cell--station"
    >
      {{ request.user.company.subway }}
    </td>
  </tr>
  </tbody>
</table>
