.checkbox {
  display: inline-block;

  &__input {
    display: none;
  }

  &__input:checked + &__label {
    &::before {
      background-color: var(--color-purple);
    }

    &::after {
      right: -0.8rem;

      background-color: var(--color-purple-light);
    }
  }

  &__label {
    display: flex;
    align-items: center;

    position: relative;

    padding-right: 3.6rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;

    cursor: pointer;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 50%;
      right: 0;
    }

    &::before {
      width: 2rem;
      height: 0.8rem;

      transform: translateY(-50%);

      background-color: #ccc;
      border-radius: 1rem;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);

      transition: background-color 0.2s ease;
    }

    &::after {
      width: 1.6rem;
      height: 1.6rem;

      right: 1.2rem;
      transform: translate(0, -50%);

      background-color: darken(#ffffff, 15%);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      transition: right 0.2s ease, background-color 0.2s ease;
    }
  }
}
