<div class="checkbox">
  <input
    type="checkbox"
    class="checkbox__input"
    [name]="name"
    [id]="id"
    [checked]="value"
    (change)="handleChange($event)"
  />
  <label [for]="id" class="checkbox__label">
    {{ label }}
  </label>
</div>
