@import "./assets/scss/variables";
@import "./assets/scss/reset";
@import "./assets/scss/global";
@import "./assets/scss/form";
@import "./assets/scss/grid";

// Timepicker styles don't work in the component SCSS file
// @TODO: move styles to component's scss file

ngb-timepicker {
  font-size: 1rem;
}

ngb-timepicker .ngb-tp-input {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  padding: 1.2rem 2.4rem;
  border: 1px solid darken(#ffffff, 20%);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: inherit;
  outline: none;
  transition: border-color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    border-color: var(--color-purple);
  }
}

ngb-timepicker .ngb-tp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
}

ngb-timepicker .ngb-tp-hour, .ngb-tp-meridian, .ngb-tp-minute, .ngb-tp-second {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  //-ms-flex-pack: distribute;
  justify-content: space-around;
}

ngb-timepicker .ngb-tp-input-container {
  width: 12em;
}

ngb-timepicker .ngb-tp-spacer {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  width: 1em;
  text-align: center;
}

ngb-timepicker fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
