.person {
  &__name {
    margin-bottom: 0.2rem;

    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 600;
  }

  &__employed {
    margin-bottom: 1.6rem;

    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;

    &--true {
      color: var(--color-green);
    }

    &--false {
      color: var(--color-yellow);
    }
  }

  &__labels-list {
    margin-bottom: -0.8rem;
  }
}

.labels-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    background-color: var(--color-purple-light);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: #ffffff;

    @media only screen and (max-width: 26em) {
      padding: 0.6rem 0.8rem;
    }
  }
}
