<app-section-title>
  Информация о соискателе
</app-section-title>

<app-local-loader *ngIf="isFetching"></app-local-loader>

<ng-container *ngIf="!isFetching">
  <div class="person">
    <app-card>
      <h3 class="person__name">
        {{ person.lastName }} {{ person.firstName }} {{ person.middleName }}
      </h3>

      <p
        class="person__employed"
        [ngClass]="{
          'person__employed--true': person.employed,
          'person__employed--false': !person.employed
        }"
      >
        {{ person.employed ? 'Трудоустроен' : 'Не трудоустроен' }}
      </p>

      <ul class="person__labels-list labels-list">
        <li class="labels-list__item">Возраст &mdash; {{ person.age }}</li>
        <li class="labels-list__item">
          Гражданство &mdash; {{ person.citizenship }}
        </li>
        <li class="labels-list__item">Телефон &mdash; {{ person.phone }}</li>
        <li class="labels-list__item" *ngIf="person.resource">
          Ресурс &mdash; {{ person.resource }}
        </li>
      </ul>
    </app-card>
  </div>
</ng-container>
