.loader-container {
  margin: 2.4rem 0;
}

.no-requests {
  &__text {
    margin-bottom: 2.4rem;

    font-size: 1.6rem;
    line-height: 2rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;

      font-size: 1.4rem;
    }
  }
}
