<app-section-title>
  Мои заявки
</app-section-title>

<!-- Todo: loader -->
<div class="loader-container" *ngIf="isFetching">
  <app-local-loader></app-local-loader>
</div>

<app-director-requests-table
  *ngIf="!isFetching && requests.length"
  [requests]="requests"
></app-director-requests-table>

<!--<app-director-requests-list-->
<!--  *ngIf="!isFetching && requests.length"-->
<!--  [requests]="requests"-->
<!--&gt;</app-director-requests-list>-->

<div class="no-requests" *ngIf="!isFetching && !requests.length">
  <app-card>
    <p class="no-requests__text">
      Вы пока не создали ни одной заявки
    </p>
    <div class="no-requests__button">
      <app-card-button (clicked)="handleCreateButtonClick()">
        Создать заявку
      </app-card-button>
    </div>
  </app-card>
</div>
