<app-section-title>
  Мои сотрудники
</app-section-title>

<app-local-loader *ngIf="isFetching; else content"></app-local-loader>

<ng-template #content>
  <div class="company">
    <app-card>
      <h3 class="company__title">
        {{ company.brand }}
      </h3>

      <p class="company__obj-number">
        Номер объекта:
        <span class="highlight">
          {{ company.number }}
        </span>
      </p>

      <p class="company__address">
        Адрес:
        <span class="highlight">
          {{ company.address }}
        </span>
      </p>
    </app-card>
  </div>

  <ul class="employee-list">
    <li class="employee-list__item" *ngFor="let employee of employees">
      <div class="employee">
        <app-card
          [styles]="{
            height: '100%'
          }"
        >
          <h4 class="employee__full-name">
            {{ employee.person.lastName }} {{ employee.person.firstName }}
            {{ employee.person.middleName }}
          </h4>

          <p class="employee__phone">
            {{ employee.person.phone }}
          </p>

          <p class="employee__position">
            Должность:
            <span class="highlight">
              {{ employee.position }}
            </span>
          </p>

          <p class="employee__schedule">
            График:
            <span class="highlight">
              {{ employee.schedule }}
            </span>
          </p>
        </app-card>
      </div>
    </li>
  </ul>
</ng-template>
