.company {
  &__title {
    margin-bottom: 0.6rem;

    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: 300;
  }

  &__obj-number,
  &__address {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__obj-number {
    margin-bottom: 0.8rem;
  }
}

.highlight {
  color: var(--color-purple);
}

.employee-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-top: 2.4rem;

  @media only screen and (max-width: 26em) {
    margin-top: 1.6rem;
  }

  list-style: none;

  &__item {
    flex: 0 0 49%;

    margin-bottom: 2rem;

    @media only screen and (max-width: 60em) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }
}

.employee {
  height: 100%;

  &__full-name {
    margin-bottom: 0.2rem;

    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  &__phone,
  &__position,
  &__schedule {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__phone,
  &__position {
    margin-bottom: 0.8rem;
  }

  &__phone {
    color: darken(white, 40%);
  }
}
